<abp-page-subheader>
</abp-page-subheader>
<div class="@(await GetContainerClass())">
    <div class="card">
        <div class="card-body">
            <div class="alert alert-custom alert-primary fade show" role="alert">
                <div class="alert-icon">
                    <i class="flaticon-information" aria-label="@L("Welcome")"></i>
                </div>
                <div class="alert-text">

                    <h4 class="alert-heading">USOP Danang POTS</h4>
                    <p>
                        <a href="~/WebApp/UsopPots/Danang" class="btn btn-primary">Danang</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    @* <div class="card"> *@
    @*     <div class="card-body"> *@
    @*         <div class="alert alert-custom alert-primary fade show" role="alert"> *@
    @*             <div class="alert-icon"> *@
    @*                 <i class="flaticon-information" aria-label="@L("Welcome")"></i> *@
    @*             </div> *@
    @*             <div class="alert-text"> *@
    @* *@
    @*                 <h4 class="alert-heading">USOP Taiwan POTS</h4> *@
    @*                 <p> *@
    @*                     <a  href="~/WebApp/UsopPots/Taiwan" class="btn btn-primary">Taiwan</a> *@
    @*                 </p> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
</div>